<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="weiyuyan.weisdk"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 监听开机事件RECEIVE_BOOT_COMPLETED的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 屏幕禁止休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 读取IMEI值 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读取MAC值 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- WindowManger 权限(浮动窗口) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name="com.lxt.app.LxtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- 启动页 -->
        <activity android:name="com.lxt.mobile.activity.BootLaunchActivity">

        </activity>
        <!-- 欢迎页 -->
        <activity android:name="com.lxt.mobile.activity.WelcomeActivity"/>
        <!-- 登陆页 -->
        <activity android:name="com.lxt.mobile.activity.LoginActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.ChooseCampusActivity"/>
        <activity android:name="com.lxt.mobile.activity.HomePageActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.ClassRecordActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.WatchListActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.SelfInfoActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.SystemSettingActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.SelfInfoEditActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.OrderTeacherListActivity"/>
        <activity android:name="com.lxt.mobile.activity.FeelBackAcctivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.UpdataPasswordActivity">
        </activity>
        <activity android:name="com.lxt.mobile.activity.TeacherAppraiseActivity">
        </activity>

        <activity android:name="com.lxt.mobile.activity.TeacherDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name="com.lxt.mobile.videoclass.VideoClassActivity">
        </activity>


        <meta-data
            android:name="GROUP_GUID"
            android:value="${group_guid}"/>
        <meta-data
            android:name="APPNAME"
            android:value="${label}"/>

        <activity android:name="com.lxt.mobile.activity.OrderClassDetailActivity">
        </activity>
    </application>

</manifest>